<?if $(sys.BUILDARCH) = x64 ?>
  <?define UpgradeCode = "{93985BBA-6B59-443B-80C8-BA987407F8B8}" ?>
  <?define OpenSSLSuffix = "-x64" ?>
  <?define Suffix = "" ?>
<?elseif $(sys.BUILDARCH) = arm64 ?>
  <?define UpgradeCode = "{de2f0796-01fe-4291-bfc1-c01f631d082b}" ?>
  <?define OpenSSLSuffix = "-arm64" ?>
  <?define Suffix = "-arm64" ?>
<?else?>
  <?define UpgradeCode = "{7f1b1519-b527-4130-998d-233f4d050f14}" ?>
  <?define OpenSSLSuffix = "" ?>
  <?define Suffix = "" ?>
<?endif?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Libdigidocpp $(sys.BUILDARCH)" UpgradeCode="$(var.UpgradeCode)"
      Language="1033" Version="!(bind.FileVersion.digidocpp)" Manufacturer="RIA">
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="ID.ico" SourceFile="$(var.ICON)" />
    <Property Id="ARPPRODUCTICON" Value="ID.ico" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage=
        "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first." />
    <UI>
       <ui:WixUI Id="WixUI_Mondo" />
       <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3" />
       <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="libdigidocpp$(var.Suffix)" />
    </StandardDirectory>

    <ComponentGroup Id="Runtime"
        Source="$(env.VCTOOLSREDISTDIR)\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).CRT">
      <File Name="msvcp140.dll" />
      <File Name="vcruntime140.dll" />
<?if $(sys.BUILDARCH) != x86 ?>
      <File Name="vcruntime140_1.dll" />
<?endif?>
    </ComponentGroup>

    <ComponentGroup Id="Dependencies" Source="$(var.vcpkg)\bin">
      <File Name="libcrypto-3$(var.OpenSSLSuffix).dll" />
      <File Name="libssl-3$(var.OpenSSLSuffix).dll" />
      <File Name="legacy.dll" />
      <File Name="zlib1.dll" />
      <File Name="libxml2.dll" />
      <File Name="libxmlsec1.dll" />
      <File Name="libxmlsec1-openssl.dll" />
    </ComponentGroup>

    <ComponentGroup Id="Libraries" Source="$(var.libdigidocpp)">
      <File Id="digidocpp" Name="digidocpp.dll" />
      <File Name="digidoc-tool.exe" />
      <File Source="$(var.libdigidocpp)\etc\digidocpp\digidocpp.conf" />
<?ifdef var.swig ?>
      <File Name="digidoc_csharp.dll" />
      <File Name="digidoc_java.dll" />
      <File Source="$(var.libdigidocpp)\share\digidocpp\digidocpp.jar" />
<?ifdef var.python ?>
      <File Name="_digidoc_python.pyd" />
      <File Name="digidoc.py" />
<?endif?>
<?endif?>
    </ComponentGroup>

    <ComponentGroup Id="RuntimeDev"
        Source="$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).DebugCRT">
      <File Name="msvcp140d.dll" />
      <File Name="vcruntime140d.dll" />
<?if $(sys.BUILDARCH) != x86 ?>
      <File Name="vcruntime140_1d.dll" />
<?endif?>
    </ComponentGroup>

    <ComponentGroup Id="LibrariesDev" Source="$(var.libdigidocpp)">
      <Files Include="*.pdb" />
      <File Name="digidocpp.lib" />
      <File Name="digidocppd.dll" />
      <File Name="digidocppd.lib" />
<?ifdef var.swig ?>
      <File Name="digidoc_csharpd.dll" />
      <File Name="digidoc_javad.dll" />
<?ifdef var.python ?>
      <File Name="_digidoc_pythond.pyd" />
<?endif?>
<?endif?>
    </ComponentGroup>

    <Feature Id="InstallLibdigidocpp" Level="1" Title="Libdigidocpp" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="Runtime" />
      <ComponentGroupRef Id="Dependencies" />
      <ComponentGroupRef Id="Libraries" />
      <Files Directory="INSTALLFOLDER" Subdirectory="schema" Include="$(var.libdigidocpp)\etc\digidocpp\schema\*.xsd" />
      <Feature Id="InstallDevel" Level="1" Title="Development">
        <ComponentGroupRef Id="RuntimeDev" />
        <File Directory="INSTALLFOLDER" Source="$(var.vcpkg)\debug\bin\zlibd1.dll" />
        <ComponentGroupRef Id="LibrariesDev" />
        <Files Directory="INSTALLFOLDER" Subdirectory="include" Include="$(var.libdigidocpp)\include\**" />
        <Files Directory="INSTALLFOLDER" Subdirectory="cmake\libdigidocpp" Include="$(var.libdigidocpp)\cmake\libdigidocpp\**"  />
      </Feature>
<?ifdef var.docLocation ?>
      <Feature Id="InstallDocumentation" Level="1" Title="Documentation">
        <Files Include="$(var.docLocation)\**" Directory="INSTALLFOLDER" Subdirectory="documentation" />
      </Feature>
<?endif?>
    </Feature>
  </Package>
</Wix>
