<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Libdigidocpp" UpgradeCode="{93985BBA-6B59-443B-80C8-BA987407F8B8}"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Keywords="Installer" InstallerVersion="405" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="ID.ico" SourceFile="$(var.ICON)"/>
    <Property Id="ARPPRODUCTICON" Value="ID.ico"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <UIRef Id="WixUI_Mondo" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFilesFolder'>
          <Directory Id="APPLICATIONFOLDER" Name="libdigidocpp">
            <Directory Id="X86FOLDER" Name="x86">
              <Component Id="LibrariesX86" Guid="{57A72AF6-5458-4106-BFC8-A611DAF89A59}">
                <File Source="$(var.VCINSTALLDIR)\redist\x86\Microsoft.VC120.CRT\msvcp120.dll"/>
                <File Source="$(var.VCINSTALLDIR)\redist\x86\Microsoft.VC120.CRT\msvcr120.dll"/>
                <File Source="C:\OpenSSL-Win32\bin\libeay32.dll"/>
                <File Source="C:\OpenSSL-Win32\bin\ssleay32.dll"/>
                <File Source="$(var.PREFIX)\zlib\x86\bin\zlib1.dll"/>
<?ifdef var.libdigidoc ?>
                <File Source="$(var.PREFIX)\libxml2\x86\bin\libxml2.dll"/>
                <File Source="$(var.libdigidoc)\x86\bin\digidoc.dll"/>
                <File Source="$(var.libdigidoc)\x86\bin\cdigidoc.exe"/>
                <File Source="$(var.libdigidoc)\x86\etc\digidoc.ini"/>
                <IniFile Id="setCaCertPathX86" Action="addLine" Directory="X86FOLDER" Section="ca"
                  Name="digidoc.ini" Key="CA_CERT_PATH" Value="[APPLICATIONFOLDER]certs"/>
<?endif?>
                <File Source="$(var.PREFIX)\xerces\Build\Win32\VC12\Release\xerces-c_3_1.dll"/>
                <File Source="$(var.PREFIX)\xmlsec\Build\Win32\VC12\Release No Xalan\xsec_1_7.dll"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocpp.dll"/>
<?ifdef var.swig ?>
                <File Source="$(var.libdigidocpp)\x86\bin\digidoc_csharp.dll"/>
<?endif?>
                <File Source="$(var.libdigidocpp)\x86\bin\digidoc-tool.exe"/>
                <File Source="$(var.libdigidocpp)\x86\etc\digidocpp\878252.p12"/>
                <File Source="$(var.libdigidocpp)\x86\etc\digidocpp\digidocpp.conf"/>
              </Component>
              <Component Id="LibrariesDevX86" Guid="{9B16F8D1-11AA-4AF4-B8C2-96B4EC7E79CD}">
                <File Source="$(var.VCINSTALLDIR)\redist\Debug_NonRedist\x86\Microsoft.VC120.DebugCRT\msvcp120d.dll"/>
                <File Source="$(var.VCINSTALLDIR)\redist\Debug_NonRedist\x86\Microsoft.VC120.DebugCRT\msvcr120d.dll"/>
                <File Source="$(var.PREFIX)\xerces\Build\Win32\VC12\Debug\xerces-c_3_1D.dll"/>
                <File Source="$(var.PREFIX)\xmlsec\Build\Win32\VC12\Debug No Xalan\xsec_1_7D.dll"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocpp.lib"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocpp.pdb"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocppd.dll"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocppd.lib"/>
                <File Source="$(var.libdigidocpp)\x86\bin\digidocppd.pdb"/>
<?ifdef var.swig ?>
                <File Source="$(var.libdigidocpp)\x86\bin\digidoc_csharpd.dll"/>
<?endif?>
              </Component>
              <Directory Id="SchemaFolderX86" Name="schema"
                  FileSource="$(var.libdigidocpp)\x86\etc\digidocpp\schema">
                <Component Id="SchemasX86" Guid="{C42EE645-286C-4B80-B73E-AF82B8D4D778}">
                  <File Name="xml.xsd"/>
                  <File Name="conf.xsd"/>
                  <File Name="OpenDocument_manifest.xsd"/>
                  <File Name="xmldsig-core-schema.xsd"/>
                  <File Name="XAdES.xsd"/>
                  <File Name="XAdESv141.xsd"/>
                  <File Name="ts_119612v010101.xsd"/>
                  <File Name="ts_102918v010201.xsd"/>
                </Component>
              </Directory>
            </Directory>
            <Directory Id="X64FOLDER" Name="x64">
              <Component Id="LibrariesX64" Guid="{1A068454-C881-49D3-A3C4-58D513C2BFE9}">
                <File Source="$(var.VCINSTALLDIR)\redist\x64\Microsoft.VC120.CRT\msvcp120.dll" Id="msvcp120_64.dll"/>
                <File Source="$(var.VCINSTALLDIR)\redist\x64\Microsoft.VC120.CRT\msvcr120.dll" Id="msvcr120_64.dll"/>
                <File Source="C:\OpenSSL-Win64\bin\libeay32.dll" Id="libeay32_64.dll"/>
                <File Source="C:\OpenSSL-Win64\bin\ssleay32.dll" Id="ssleay32_64.dll"/>
                <File Source="$(var.PREFIX)\zlib\x64\bin\zlib1.dll" Id="zlib1_64.dll"/>
<?ifdef var.libdigidoc ?>
                <File Source="$(var.PREFIX)\libxml2\x64\bin\libxml2.dll" Id="libxml2.dll_64"/>
                <File Source="$(var.libdigidoc)\x64\bin\digidoc.dll" Id="digidoc.dll_64"/>
                <File Source="$(var.libdigidoc)\x64\bin\cdigidoc.exe" Id="cdigidoc.exe_64"/>
                <File Source="$(var.libdigidoc)\x64\etc\digidoc.ini" Id="digidoc.ini_64"/>
                <IniFile Id="setCaCertPathX64" Action="addLine" Directory="X64FOLDER" Section="ca"
                  Name="digidoc.ini" Key="CA_CERT_PATH" Value="[APPLICATIONFOLDER]certs"/>
<?endif?>
                <File Source="$(var.PREFIX)\xerces\Build\Win64\VC12\Release\xerces-c_3_1.dll" Id="xerces_c_3_1.dll_64"/>
                <File Source="$(var.PREFIX)\xmlsec\Build\X64\VC12\Release No Xalan\xsec_1_7.dll" Id="xsec_1_7.dll_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocpp.dll" Id="digidocpp.dll_64"/>
<?ifdef var.swig ?>
                <File Source="$(var.libdigidocpp)\x64\bin\digidoc_csharp.dll" Id="digidoc_csharp.dll_64"/>
<?endif?>
                <File Source="$(var.libdigidocpp)\x64\bin\digidoc-tool.exe" Id="digidoc_tool.exe_64"/>
                <File Source="$(var.libdigidocpp)\x64\etc\digidocpp\878252.p12" Id="_878252.p12_64"/>
                <File Source="$(var.libdigidocpp)\x64\etc\digidocpp\digidocpp.conf" Id="digidocpp.conf_64"/>
              </Component>
              <Component Id="LibrariesDevX64" Guid="{D992688C-0D4A-4C22-BEF4-582D7FA91731}">
                <File Source="$(var.VCINSTALLDIR)\redist\Debug_NonRedist\x86\Microsoft.VC120.DebugCRT\msvcp120d.dll" Id="msvcp120d_64.dll"/>
                <File Source="$(var.VCINSTALLDIR)\redist\Debug_NonRedist\x86\Microsoft.VC120.DebugCRT\msvcr120d.dll" Id="msvcr120d_64.dll"/>
                <File Source="$(var.PREFIX)\xerces\Build\Win64\VC12\Debug\xerces-c_3_1D.dll" Id="xerces_c_3_1D.dll_64"/>
                <File Source="$(var.PREFIX)\xmlsec\Build\X64\VC12\Debug No Xalan\xsec_1_7D.dll" Id="xsec_1_7D.dll_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocpp.lib" Id="digidocpp.lib_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocpp.pdb" Id="digidocpp.pdb_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocppd.dll" Id="digidocppd.dll_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocppd.lib" Id="digidocppd.lib_64"/>
                <File Source="$(var.libdigidocpp)\x64\bin\digidocppd.pdb" Id="digidocppd.pdb_64"/>
<?ifdef var.swig ?>
                <File Source="$(var.libdigidocpp)\x64\bin\digidoc_csharpd.dll" Id="digidoc_csharpd.dll_64"/>
<?endif?>
              </Component>
              <Directory Id="SchemaFolderX64" Name="schema"
                  FileSource="$(var.libdigidocpp)\x64\etc\digidocpp\schema">
                <Component Id="SchemasX64" Guid="{699EDAA2-89F0-43E6-97DB-D37CA059CFFE}">
                  <File Name="xml.xsd" Id="xml.xsd_64"/>
                  <File Name="conf.xsd" Id="conf.xsd_64"/>
                  <File Name="OpenDocument_manifest.xsd" Id="OpenDocument_manifest.xsd_64"/>
                  <File Name="xmldsig-core-schema.xsd" Id="xmldsig_core_schema.xsd_64"/>
                  <File Name="XAdES.xsd" Id="XAdES.xsd_64"/>
                  <File Name="XAdESv141.xsd" Id="XAdESv141.xsd_64"/>
                  <File Name="ts_119612v010101.xsd" Id="ts_119612v010101.xsd_64"/>
                  <File Name="ts_102918v010201.xsd" Id="ts_102918v010201.xsd_64"/>
                </Component>
              </Directory>
            </Directory>
<?ifdef var.certsLocation ?>
            <Directory Id="CertsFolder" Name="certs"/>
<?endif?>
<?ifdef var.docLocation ?>
            <Directory Id="DocumentationFolder" Name="documentation"/>
<?endif?>
<?ifdef var.sourceLocation ?>
            <Directory Id="SourceFolder" Name="source"/>
<?endif?>
            <Directory Id="HeadersFolder" Name="include"/>
          </Directory>
      </Directory>
    </Directory>

    <Feature Id="InstallLibdigidocpp" Level="1" Title="Libdigidocpp" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
<?ifdef var.certsLocation ?>
      <ComponentGroupRef Id="Certs"/>
<?endif?>
<?ifdef var.sourceLocation ?>
      <Feature Id="InstallSource" Level="1" Title="Source">
        <ComponentGroupRef Id="Source"/>
      </Feature>
<?endif?>
      <Feature Id="InstallDevel" Level="1" Title="Development">
        <ComponentGroupRef Id="Headers"/>
        <Feature Id="InstallLibdigidocppDevX86" Level="1" Title="X86">
          <ComponentRef Id="LibrariesX86"/>
          <ComponentRef Id="LibrariesDevX86"/>
        </Feature>
        <Feature Id="InstallLibdigidocppDevX64" Level="1" Title="X64">
          <ComponentRef Id="LibrariesX64"/>
          <ComponentRef Id="LibrariesDevX64"/>
        </Feature>
      </Feature>
<?ifdef var.docLocation ?>
      <Feature Id="InstallDocumentation" Level="1" Title="Documentation">
        <ComponentGroupRef Id="Documentation"/>
      </Feature>
<?endif?>
      <Feature Id="InstallLibdigidocppX86" Level="1" Title="X86">
        <ComponentRef Id="LibrariesX86"/>
        <ComponentRef Id="SchemasX86"/>
      </Feature>
      <Feature Id="InstallLibdigidocppX64" Level="1" Title="X64">
        <ComponentRef Id="LibrariesX64"/>
        <ComponentRef Id="SchemasX64"/>
      </Feature>
    </Feature>
  </Product>
</Wix>
