<?if $(sys.BUILDARCH) = x64 ?>
  <?define UpgradeCode = "{93985BBA-6B59-443B-80C8-BA987407F8B8}" ?>
  <?define LibrariesGuid = "{57A72AF6-5458-4106-BFC8-A611DAF89A59}" ?>
  <?define LibrariesDevGuid = "{9B16F8D1-11AA-4AF4-B8C2-96B4EC7E79CD}" ?>
  <?define SchemasGuid = "{C42EE645-286C-4B80-B73E-AF82B8D4D778}" ?>
  <?define OpenSSLSuffix = "-x64" ?>
<?elseif $(sys.BUILDARCH) = arm64 ?>
  <?define UpgradeCode = "{de2f0796-01fe-4291-bfc1-c01f631d082b}" ?>
  <?define LibrariesGuid = "{49ab6a46-423f-4d3a-98ea-1c8d251eac4f}" ?>
  <?define LibrariesDevGuid = "{5a6642c3-528e-4394-8ace-3bca16f53d9f}" ?>
  <?define SchemasGuid = "{78069c8e-8521-4688-a9d1-1020696ac52d}" ?>
  <?define OpenSSLSuffix = "-arm64" ?>
<?else?>
  <?define UpgradeCode = "{7f1b1519-b527-4130-998d-233f4d050f14}" ?>
  <?define LibrariesGuid = "{f730eb17-fafc-440a-88a8-e8795be746b1}" ?>
  <?define LibrariesDevGuid = "{f2e01472-129f-4919-9d0a-5d8f49b4598f}" ?>
  <?define SchemasGuid = "{66b852a2-68e1-4722-ab63-8e0625c0b3d7}" ?>
  <?define OpenSSLSuffix = "" ?>
<?endif?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).CRT" ?>
<?define VCPATH_D = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?define VCPKG = "$(var.vcpkg)\bin" ?>
<?define VCPKG_D = "$(var.vcpkg)\debug\bin" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Libdigidocpp $(sys.BUILDARCH)" UpgradeCode="$(var.UpgradeCode)"
      Language="1033" Version="$(var.MSI_VERSION)" Manufacturer="RIA" InstallerVersion="500">
    <SummaryInformation Keywords="Installer" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="ID.ico" SourceFile="$(var.ICON)" />
    <Property Id="ARPPRODUCTICON" Value="ID.ico" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage=
        "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first." />
    <UI>
       <ui:WixUI Id="WixUI_Mondo" />
       <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3" />
       <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="APPLICATIONFOLDER" Name="libdigidocpp"
          FileSource="$(var.libdigidocpp)\bin">
        <Component Id="Libraries" Guid="$(var.LibrariesGuid)">
          <File Source="$(var.VCPATH)\msvcp140.dll" />
          <File Source="$(var.VCPATH)\msvcp140_1.dll" />
          <File Source="$(var.VCPATH)\msvcp140_2.dll" />
          <File Source="$(var.VCPATH)\vcruntime140.dll" />
<?if $(sys.BUILDARCH) != x86 ?>
          <File Source="$(var.VCPATH)\vcruntime140_1.dll" />
<?endif?>
          <File Source="$(var.VCPKG)\libcrypto-3$(var.OpenSSLSuffix).dll" />
          <File Source="$(var.VCPKG)\libssl-3$(var.OpenSSLSuffix).dll" />
          <File Source="$(var.VCPKG)\legacy.dll" />
          <File Source="$(var.VCPKG)\zlib1.dll" />
          <File Source="$(var.VCPKG)\xerces-c_3_2.dll" />
          <File Source="$(var.VCPKG)\Xalan-C_1_12.dll" />
          <File Source="$(var.VCPKG)\XalanMessages_1_12.dll" />
          <File Source="$(var.VCPKG)\xsec_2_0.dll" />
          <File Name="digidocpp.dll" />
          <File Name="digidoc-tool.exe" />
          <File Source="$(var.libdigidocpp)\etc\digidocpp\digidocpp.conf" />
<?ifdef var.swig ?>
          <File Name="digidoc_csharp.dll" />
          <File Name="digidoc_java.dll" />
          <File Name="_digidoc_python.pyd" />
          <File Name="digidoc.py" />
<?endif?>
        </Component>
        <Component Id="LibrariesDev" Guid="$(var.LibrariesDevGuid)">
          <File Source="$(var.VCPATH_D)\msvcp140d.dll" />
          <File Source="$(var.VCPATH_D)\msvcp140_1d.dll" />
          <File Source="$(var.VCPATH_D)\msvcp140_2d.dll" />
          <File Source="$(var.VCPATH_D)\vcruntime140d.dll" />
<?if $(sys.BUILDARCH) != x86 ?>
          <File Source="$(var.VCPATH_D)\vcruntime140_1d.dll" />
<?endif?>
          <File Source="$(var.VCPKG_D)\zlibd1.dll" />
          <File Source="$(var.VCPKG_D)\xerces-c_3_2D.dll" />
          <File Source="$(var.VCPKG_D)\Xalan-C_1_12D.dll" />
          <File Source="$(var.VCPKG_D)\XalanMessages_1_12D.dll" />
          <File Source="$(var.VCPKG_D)\xsec_2_0D.dll" />
          <File Name="digidoc-tool.pdb" />
          <File Name="digidocpp.lib" />
          <File Name="digidocpp.pdb" />
          <File Name="digidocppd.dll" />
          <File Name="digidocppd.lib" />
          <File Name="digidocppd.pdb" />
<?ifdef var.swig ?>
          <File Name="digidoc_csharp.pdb" />
          <File Name="digidoc_csharpd.dll" />
          <File Name="digidoc_csharpd.pdb" />
          <File Name="digidoc_java.pdb" />
          <File Name="digidoc_javad.dll" />
          <File Name="digidoc_javad.pdb" />
          <File Name="_digidoc_python.pdb" />
          <File Name="_digidoc_pythond.pyd" />
          <File Name="_digidoc_pythond.pdb" />
<?endif?>
        </Component>
        <Directory Id="SchemaFolder" Name="schema"
            FileSource="$(var.libdigidocpp)\etc\digidocpp\schema">
          <Component Id="Schemas" Guid="$(var.SchemasGuid)">
            <File Name="xml.xsd" />
            <File Name="conf.xsd" />
            <File Name="OpenDocument_manifest.xsd" />
            <File Name="OpenDocument_manifest_v1_2.xsd" />
            <File Name="xmldsig-core-schema.xsd" />
            <File Name="XAdES01903v132-201601.xsd" />
            <File Name="XAdES01903v132-201601-relaxed.xsd" />
            <File Name="XAdES01903v141-201601.xsd" />
            <File Name="ts_119612v020201_201601xsd.xsd" />
            <File Name="en_31916201v010101.xsd" />
            <File Name="OpenDocument_dsig.xsd" />
          </Component>
        </Directory>
        <Directory Id="HeadersFolder" Name="include" />
<?ifdef var.docLocation ?>
        <Directory Id="DocumentationFolder" Name="documentation" />
<?endif?>
      </Directory>
    </StandardDirectory>
  
    <Feature Id="InstallLibdigidocpp" Level="1" Title="Libdigidocpp" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="Schemas" />
      <Feature Id="InstallDevel" Level="1" Title="Development">
        <ComponentGroupRef Id="Headers" />
        <ComponentRef Id="LibrariesDev" />
      </Feature>
<?ifdef var.docLocation ?>
      <Feature Id="InstallDocumentation" Level="1" Title="Documentation">
        <ComponentGroupRef Id="Documentation" />
      </Feature>
<?endif?>
    </Feature>
  </Package>
</Wix>
