#include <winver.h>

#define VER_STR_HELPER(x)	#x
#define VER_STR(x)		VER_STR_HELPER(x)

VS_VERSION_INFO VERSIONINFO
  FILEVERSION MAJOR_VER,MINOR_VER,RELEASE_VER,BUILD_VER
  PRODUCTVERSION MAJOR_VER,MINOR_VER,RELEASE_VER,BUILD_VER
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "digidoc-tool"
			VALUE "FileVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
			VALUE "InternalName", "digidoc-tool"
			VALUE "LegalCopyright", "(C) 2009-2022 Estonian Information System Authority"
			VALUE "OriginalFilename", "digidoc-tool.exe"
			VALUE "ProductName", "digidoc-tool"
			VALUE "ProductVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
/* End of Version info */
