<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>DigiDoc signed document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ee.ria.bdoc</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DigiDoc signed document</string>
			<key>UTTypeIdentifier</key>
			<string>ee.ria.bdoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>adoc</string>
					<string>bdoc</string>
					<string>ddoc</string>
					<string>edoc</string>
					<string>asice</string>
					<string>asics</string>
					<string>sce</string>
					<string>scs</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.etsi.asic-e+zip</string>
					<string>application/vnd.etsi.asic-s+zip</string>
					<string>application/vnd.lt.archyvai.adoc-2008</string>
					<string>application/x-ddoc</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
